body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    font-family: cursive;
    background-image: url("https://img.freepik.com/free-photo/excited-audience-watching-confetti-fireworks-having-fun-music-festival-night-copy-space_637285-559.jpg?size=626&ext=jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

h2{
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    backdrop-filter: blur(5px);
    padding: 4px;
}

.year{
    font-size: 5em;
    backdrop-filter: blur(4px);
    font-weight: bold;
    padding: 4px;
}

.countdown{
    margin: 30px;
    background-color: rgba(0,0,0,0.2);
    backdrop-filter: blur(10px);
    width: 100%;
    color: white;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.countdown div{
    margin: 0 15px;
    font-size: 2.5em;
    font-weight: 500;
    margin-top: -25px;
    position: relative;
    text-align: center;
    width: 100px;
}

.countdown div::before{
    content: "";
    position: absolute;
    bottom: -30px;
    left: 0;
    font-size: 0.35em;
    line-height: 35px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    width: 100px;
    height: 35px;
}

.countdown #day::before{
    content: "Days";
}
.countdown #hour::before{
    content: "Hours";
}
.countdown #minute::before{
    content: "Minutes";
}
.countdown #second::before{
    content: "Seconds";
}