body{
    font-family: sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background-image: url("https://img.freepik.com/free-photo/doi-luang-chiang-dao-mountains-sunrise-chiang-mai-thailand_335224-1400.jpg?w=900&t=st=1674119270~exp=1674119870~hmac=bc9b7917d8edde182b3943b514307548b509197d34202523fb538fca0c31b4eb");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h2{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 16px;
    text-align: center;
    background-color: rgba(255,255,255,0.8);
    padding: 8px;
}

.clock{
    display: flex;
}

.clock div{
    margin: 5px;
    position: relative;
}

.clock span{
    width: 100px;
    height: 80px;
    background-color: slateblue;
    opacity: 80%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}

.clock .text{
    height: 30px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: darkblue;
    opacity: 0.8;
}


.clock #ampm{
    position: absolute;
    bottom: 0;
    width: 40px;
    height: 30px;
    font-size: 20px;
    background-color: slateblue;
}